.portfolio{
    overflow: hidden;
}
.portfolio img {
  cursor: zoom-in;
  width: 100%;
  min-height: 250px;
  transition: transform 1s ease-in-out;
  overflow: hidden;
}

.portfolio img:hover {
  transform: scale(1.2);
  overflow: hidden;
}
kbd{
  background-image: linear-gradient(
    rgba(198, 187, 247, 0.5),
    rgba(188, 218, 252, 0.5),
    rgba(250, 248, 248, 0.5)
  ) ;
}