
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    rgba(198, 187, 247, 0.5),
    rgba(188, 218, 252, 0.5),
    rgba(250, 248, 248, 0.5)
  ) ;
}